[!experiment]
@experiment_control_interface=letce0

[host:experiment]
__template.path=../templates/host:../templates/common
@bridge.0.name=%(@experiment_control_interface)s
@bridge.0.ipv4=10.99.0.100/16
__template.file.100=bridge
__template.file.101=control
__template.file.102=start.local
__template.file.103=otestpoint-broker.xml
__template.file.104=stop.local
__template.file.105=functions
__template.file.106=scenario.eel
__template.file.107=eelgenerator.xml
__template.file.108=eventservice.xml
__template.file.109=prestart.local

[!common:experiment]
+@lxc.interface.0.link =%(@experiment_control_interface)s
+@lxc.interface.0.ipv4=%(@control_ip_addr)s
+@lxc.interface.0.name=%(@control_interface)s
@control_interface=backchan0
__template.file.001=lxc.conf
__template.file.002=lxc.hook.autodev.sh
+@control_ip_addr=10.99.0.%(@id)s/24

[!node-with-lan:ieee80211abg]
+@lxc.interface.1.link=%(@lan_link)s
+@lxc.interface.1.ipv4=%(@lan_ip_addr)s
+@lxc.interface.1.name=%(@lan_interface)s
@lan_link=r%(@id)s_0
@lan_ip_addr=10.98.%(@id)s.1/24
@lan_interface=lan0
# to use olsr uncomment:
# __template.file.200=olsr.conf
#  and comment:
# __template.file.200=batman-adv
#
# v- comment/uncomment -v
#__template.file.200=olsr.conf
__template.file.200=batman-adv
# ^- comment/uncomment -^

__template.file.201=batman-routes
@batman_interface=bat0
@batman_orig_interval=500

[!host-on-lan:application-host]
+@control_ip_addr=10.99.1.%(@id)s/16
@lan_ip_addr=10.98.%(@id)s.2/24
@lan_link=r%(@id)s_0
+@gateway_ip_addr=10.98.%(@id)s.1/24

[node-1:node-with-lan]
@id=1

[host-1:host-on-lan]
@id=1

[node-2:node-with-lan]
@id=2

[host-2:host-on-lan]
@id=2

[node-3:node-with-lan]
@id=3

[host-3:host-on-lan]
@id=3
